body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("../images/bg_space_2_1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 120%;
  overflow: hidden;
}

/* Solar System */
.solarSystem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin-top: 150px;
  position: relative;
}
.planet {
  width: 80%;
  height: 707px;
  position: absolute;
  margin: 400px 0 0 40%;
  transform: rotate(20deg);
}
.planet > li {
  border: 1px dotted var(--grey-light-color);
  border-radius: 50%;
  position: absolute;
}
.planet img {
  position: absolute;
  transform: rotate(-20deg);
}

.planet .center {
  border: none;
  width: 20%;
  height: 5%;
  position: relative;
  top: 33%;
  left: 40%;
}
.blackHole {
  width: 25vw;
  top: -700%;
  left: -30%;
  z-index: 18;
  animation-name: blackHole;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes blackHole {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.jupiterOrbit {
  border-bottom-style: none;
  width: 40%;
  height: 22%;
  top: 24%;
  left: 30%;
}
.planet .jupiterFront {
  border-top-style: none;
  width: 40%;
  height: 22%;
  top: 24%;
  left: 30%;
  z-index: 19;
}
.jupiter {
  width: 80px;
  top: 60%;
  left: 10%;
  z-index: 20;
  animation-name: jupiter;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes jupiter {
  0% {
    top: 60%;
    left: 10%;
    z-index: 20;
  }
  10% {
    top: 70%;
    left: 36%;
  }
  20% {
    top: 68%;
    left: 62%;
  }
  25% {
    top: 60%;
    left: 75%;
  }
  30% {
    top: 20%;
    left: 90%;
  }
  40% {
    top: -20%;
    left: 80%;
  }
  45% {
    z-index: 20;
  }
  50% {
    top: -25%;
    left: 70%;
    z-index: 16;
  }
  60% {
    top: -30;
    left: 44%;
  }
  70% {
    top: -25%;
    left: 18%;
  }
  80% {
    top: -10%;
    left: 0%;
    z-index: 16;
  }
  90% {
    top: 5%;
    left: -5%;
    z-index: 20;
  }
  100% {
    top: 60%;
    left: 10%;
  }
}

ul .moonOrbit {
  border-bottom-style: none;
  width: 60%;
  height: 40%;
  top: 16%;
  left: 20%;
}
.planet .moonFront {
  border-top-style: none;
  width: 60%;
  height: 40%;
  top: 16%;
  left: 20%;
  z-index: 19;
}
.moon {
  width: 80px;
  top: 2%;
  left: 5%;
  z-index: 22;
  animation-name: moon;
  animation-duration: 150s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
}

@keyframes moon {
  0% {
    top: -5%;
    left: 13%;
  }
  5% {
    /* top: 0%;
    left: 9%; */
    z-index: 14;
  }
  10% {
    top: -15%;
    left: 39%;
  }
  20% {
    top: -13%;
    left: 65%;
  }
  25% {
    top: -7%;
    left: 78%;
  }
  30% {
    top: 15%;
    left: 92%;
  }
  35% {
    top: 35%;
    left: 95%;
    z-index: 14;
  }
  40% {
    top: 55%;
    left: 90%;
    z-index: 22;
  }
  50% {
    top: 79%;
    left: 65%;
  }
  60% {
    top: 82%;
    left: 51%;
  }
  70% {
    top: 85%;
    left: 37%;
  }
  75% {
    top: 80%;
    left: 28%;
  }
  80% {
    top: 62%;
    left: 5%;
  }
  85% {
    top: 30%;
    left: -5%;
  }
  90% {
    top: 2%;
    left: 5%;
  }
  100% {
    top: -5%;
    left: 13%;
    z-index: 22;
  }
}

ul .saturnOrbit {
  border-bottom-style: none;
  width: 80%;
  height: 60%;
  top: 8%;
  left: 10%;
}
.planet .saturnFront {
  border-top-style: none;
  width: 80%;
  height: 60%;
  top: 8%;
  left: 10%;
  z-index: 19;
}
.saturn {
  width: 160px;
  top: -2%;
  left: 15%;
  animation-name: saturn;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes saturn {
  0% {
    top: -2%;
    left: 15%;
    z-index: 12;
  }
  10% {
    top: 22%;
    left: -4%;
    z-index: 12;
  }
  15% {
    top: 42%;
    left: -7%;
  }
  20% {
    top: 72%;
    left: 5%;
    z-index: 24;
  }
  25% {
    top: 82%;
    left: 15%;
  }
  30% {
    top: 91%;
    left: 41%;
  }
  40% {
    top: 85%;
    left: 67%;
  }
  50% {
    top: 75%;
    left: 80%;
  }
  60% {
    top: 68%;
    left: 85%;
    z-index: 12;
  }
  65% {
    top: 45%;
    left: 93%;
  }
  70% {
    top: 12%;
    left: 85%;
  }
  75% {
    top: 0%;
    left: 75%;
  }
  80% {
    top: -7%;
    left: 63%;
  }
  90% {
    top: -11%;
    left: 37%;
  }
  100% {
    top: -2%;
    left: 15%;
  }
}

ul .marsOrbit {
  /* border-bottom-style: none; */
  width: 100%;
  height: 81%;
  top: -1%;
  left: 0%;
}
.marsGroup {
  width: 20%;
  height: 30%;
  position: relative;
  top: 40%;
  left: -1%;
  animation-name: mars;
  animation-duration: 250s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes mars {
  0% {
    top: 60%;
    left: 10%;
    z-index: 26;
  }
  10% {
    top: 72%;
    left: 34%;
  }
  20% {
    top: 70%;
    left: 58%;
  }
  25% {
    top: 62%;
    left: 75%;
  }
  30% {
    top: 55%;
    left: 82%;
    z-index: 26;
  }
  35% {
    top: 45%;
    left: 87%;
  }
  40% {
    top: 20%;
    left: 95%;
    z-index: 10;
  }
  45% {
    top: -10%;
    left: 82%;
  }
  50% {
    top: -20%;
    left: 72%;
  }
  60% {
    top: -30%;
    left: 42%;
  }
  70% {
    top: -25%;
    left: 24%;
  }
  75% {
    top: -15%;
    left: 10%;
  }
  80% {
    top: -5%;
    left: 2%;
  }
  85% {
    top: 12%;
    left: -6%;
  }
  90% {
    top: 30%;
    left: -5%;
    z-index: 6;
  }
  95% {
    top: 40%;
    left: -2%;
  }
  100% {
    top: 60%;
    left: 10%;
    z-index: 10;
  }
}
.mars {
  width: 150px;
  top: 40%;
  left: 3%;
  z-index: 26;
}
.marsGroup:before {
  content: "";
  width: 72%;
  height: 15%;
  border: 1px dotted var(--grey-light-color);
  border-top-style: none;
  border-radius: 50%;
  transform: rotate(-20deg);
  position: absolute;
  top: 80%;
  left: -10%;
  z-index: 27;
}
.marsGroup:after {
  content: "";
  width: 72%;
  height: 15%;
  border: 1px dotted var(--grey-light-color);
  border-bottom-style: none;
  border-radius: 50%;
  transform: rotate(-20deg);
  position: absolute;
  top: 80%;
  left: -10%;
  z-index: 23;
}
.satlitte {
  width: 40px;
  top: 93%;
  left: 0%;
  z-index: 30;
  animation-name: satlitte;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes satlitte {
  0% {
    top: 93%;
    left: 0%;
    z-index: 30;
  }
  25% {
    top: 58%;
    left: 50%;
  }
  35% {
    top: 45%;
    left: 55%;
    z-index: 30;
  }
  40% {
    z-index: 24;
  }
  50% {
    top: 55%;
    left: 40%;
  }
  60% {
    top: 60;
  }
  70% {
    top: 75%;
  }
  75% {
    top: 83%;
    left: -5%;
  }
  80% {
    top: 95%;
    left: -17%;
    z-index: 24;
  }
  90% {
    /* top: 90%; */
    left: -11%;
    z-index: 30;
  }
  100% {
    top: 93%;
    left: 0%;
  }
}
.welcomeTextBox {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 7%;
  white-space: nowrap;
}
.welcomeText {
  font-size: 40px;
  font-family: "Orbitron", sans-serif;
  color: var(--grey-light-color);
  margin: 0 auto;
  overflow: hidden;
  border-right: 0.1em solid var(--red-color);
  animation: typing 4s steps(40, end), blick-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blick-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--white-color);
  }
}

@media screen and (max-width: 1400px) {
  .welcomeTextBox {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .solarSystem {
    height: 100vh;
    margin-top: 0px;
  }
  .planet {
    width: 100%;
    margin: 0;
    transition: all 1s linear;
    transform: rotate(0deg);
  }
  /* .planet > li {
    same
  } */
  .planet img {
    transform: rotate(0deg);
  }
  .planet .center {
    width: 18%;
    height: 5%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  .blackHole {
    width: 17vw;
    top: -220%;
    left: 0%;
  }
  /* @keyframes blackHole {
    same
  } */
  .jupiterOrbit {
    border: 1px dotted var(--grey-light-color);
    width: 20%;
    height: 30%;
    top: 36%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s linear;
  }
  .planet .jupiterFront {
    display: none;
  }
  .jupiter {
    width: 50px;
    top: 42%;
    left: -12%;
    animation-name: jupiter2d;
    animation-duration: 10s;
  }
  @keyframes jupiter2d {
    0% {
      top: 50%;
      left: -10%;
    }
    5% {
      top: 75%;
      left: 4%;
    }
    10% {
      top: 85%;
      left: 18%;
    }
    15% {
      top: 88%;
      left: 32%;
    }
    20% {
      top: 85%;
      left: 46%;
    }
    25% {
      top: 80%;
      left: 60%;
    }
    30% {
      top: 66%;
      left: 76%;
    }
    35% {
      top: 52%;
      left: 84%;
    }
    40% {
      top: 38%;
      left: 86%;
    }
    45% {
      top: 24%;
      left: 85%;
    }
    50% {
      top: 10%;
      left: 80%;
    }
    55% {
      top: -5%;
      left: 63%;
    }
    60% {
      top: -10;
      left: 46%;
    }
    65% {
      top: -11%;
      left: 29%;
    }
    70% {
      top: -5%;
      left: 12%;
    }
    75% {
      top: 10%;
      left: -5%;
    }
    80% {
      top: 18%;
      left: -8%;
    }
    85% {
      top: 26%;
      left: -10%;
    }
    90% {
      top: 34%;
      left: -12%;
    }
    95% {
      top: 42%;
      left: -12%;
    }
    100% {
      top: 50%;
      left: -10%;
    }
  }

  ul .moonOrbit {
    border: 1px dotted var(--grey-light-color);
    width: 30%;
    height: 45%;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s linear;
  }
  .planet .moonFront {
    display: none;
  }
  .moon {
    width: 50px;
    top: 40%;
    left: -8%;
    animation-name: moon2d;
    animation-duration: 210s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes moon2d {
    0% {
      top: 30%;
      left: -7%;
    }
    5% {
      top: 0%;
      left: 13%;
    }
    10% {
      top: -8%;
      left: 31%;
    }
    15% {
      top: -9%;
      left: 49%;
    }
    20% {
      top: -2%;
      left: 67%;
    }
    25% {
      top: 10%;
      left: 85%;
    }
    30% {
      top: 24%;
      left: 88%;
    }
    35% {
      top: 38%;
      left: 90%;
    }
    40% {
      top: 52%;
      left: 88%;
    }
    45% {
      top: 66%;
      left: 84%;
    }
    50% {
      top: 80%;
      left: 73%;
    }
    55% {
      top: 87%;
      left: 57%;
    }
    60% {
      top: 90%;
      left: 45%;
    }
    65% {
      top: 89%;
      left: 33%;
    }
    70% {
      top: 87%;
      left: 21%;
    }
    75% {
      top: 80%;
      left: 10%;
    }
    80% {
      top: 70%;
      left: 0%;
    }
    85% {
      top: 60%;
      left: -5%;
    }
    90% {
      top: 50%;
      left: -8%;
    }
    95% {
      top: 40%;
      left: -8%;
    }
    100% {
      top: 30%;
      left: -7%;
      z-index: 22;
    }
  }

  ul .saturnOrbit {
    border: 1px dotted var(--grey-light-color);
    width: 45%;
    height: 65%;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s linear;
  }
  .planet .saturnFront {
    display: none;
  }
  .saturn {
    width: 130px;
    top: -5%;
    left: 25%;
    z-index: 24;
    animation-name: saturn2d;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes saturn2d {
    0% {
      top: -5%;
      left: 25%;
    }
    5% {
      top: 10%;
      left: 0%;
    }
    10% {
      top: 25%;
      left: -10%;
    }
    15% {
      top: 40%;
      left: -14%;
    }
    20% {
      top: 55%;
      left: -13%;
    }
    25% {
      top: 70%;
      left: -8%;
    }
    30% {
      top: 74%;
      left: -5%;
    }
    35% {
      top: 78%;
      left: -2%;
    }
    40% {
      top: 82%;
      left: 2%;
    }
    45% {
      top: 86%;
      left: 8%;
    }
    46% {
      top: 89%;
      left: 18%;
    }
    47% {
      top: 91%;
      left: 27%;
    }
    48% {
      top: 91%;
      left: 37%;
    }
    49% {
      top: 90%;
      left: 46%;
    }
    50% {
      top: 90%;
      left: 55%;
    }
    55% {
      top: 74%;
      left: 73%;
    }
    60% {
      top: 58%;
      left: 83%;
    }
    65% {
      top: 42%;
      left: 85%;
    }
    70% {
      top: 26%;
      left: 82%;
    }
    75% {
      top: 10%;
      left: 73%;
    }
    80% {
      top: 3%;
      left: 65%;
    }
    85% {
      top: -4%;
      left: 55%;
    }
    90% {
      top: -8%;
      left: 45%;
    }
    95% {
      top: -8%;
      left: 35%;
    }
    100% {
      top: -5%;
      left: 25%;
    }
  }

  ul .marsOrbit {
    border: 1px dotted var(--grey-light-color);
    width: 60%;
    height: 85%;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s linear;
  }
  .marsGroup {
    width: 20%;
    height: 30%;
    position: relative;
    top: 0%;
    left: 3%;
    animation-name: mars2d;
    animation-duration: 240s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .mars {
    width: 100px;
    top: 27%;
    left: 0%;
  }
  @keyframes mars2d {
    0% {
      top: 0%;
      left: 3%;
      z-index: 30;
    }
    17% {
      top: 32%;
      left: -10%;
    }
    22% {
      top: 50%;
      left: -6%;
    }
    25% {
      top: 65%;
      left: 3%;
    }
    27% {
      top: 73%;
      left: 10%;
    }
    30% {
      top: 80%;
      left: 28%;
    }
    37% {
      top: 80%;
      left: 56%;
    }
    50% {
      top: 60%;
      left: 83%;
    }
    60% {
      top: 53%;
      left: 85%;
    }
    62% {
      top: 50%;
      left: 87%;
    }
    63% {
      top: 48%;
      left: 88%;
    }
    65% {
      top: 30%;
      left: 90%;
    }
    70% {
      top: 12%;
      left: 87%;
    }
    75% {
      top: 3%;
      left: 83%;
    }
    77% {
      top: -5%;
      left: 80%;
    }
    80% {
      top: -5%;
      left: 75%;
    }
    83% {
      top: -10%;
      left: 65%;
    }
    90% {
      top: -17%;
      left: 45%;
    }
    94% {
      left: 35%;
    }
    96% {
      top: -15%;
      left: 25%;
    }
    98% {
      top: -8%;
      left: 12%;
    }
    100% {
      top: 0%;
      left: 3%;
    }
  }

  .marsGroup:before {
    content: "";
    width: 120%;
    height: 75%;
    border: 1px dotted var(--grey-light-color);
    border-radius: 50%;
    transform: rotate(0deg);
    position: absolute;
    top: 18%;
    left: -18%;
    z-index: 27;
  }
  .marsGroup:after {
    display: none;
  }
  .satlitte {
    width: 25px;
    top: 45%;
    left: 95%;
    z-index: 30;
    animation-name: satlitte;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes satlitte {
    0% {
      top: 83%;
      left: 0%;
      z-index: 30;
    }
    10% {
      top: 86%;
    }
    20% {
      top: 84%;
    }
    25% {
      top: 70%;
      left: 81%;
    }
    30% {
      top: 60%;
      left: 89%;
    }
    32% {
      top: 45%;
      left: 94%;
    }
    35% {
      top: 30%;
      left: 85%;
      z-index: 30;
    }
    40% {
      top: 20%;
      left: 72%;
      z-index: 30;
    }
    50% {
      top: 16%;
      left: 60%;
    }
    60% {
      top: 12%;
    }
    70% {
      top: 18%;
    }
    75% {
      top: 25%;
      left: -15%;
    }
    80% {
      top: 32%;
      left: -22;
    }
    85% {
      top: 45%;
      left: -26%;
      z-index: 30;
    }
    90% {
      top: 68%;
      left: -20%;
      z-index: 30;
    }
    100% {
      top: 83%;
      left: 0%;
    }
  }
}
/* max-width: 1023px */
/* max-width: 1023px */
/* max-width: 1023px */
/* max-width: 1023px */

@media screen and (max-width: 767px) {
  .welcomeTextBox {
    display: none;
  }

  .solarSystem {
    height: 100vh;
    margin-top: 0px;
  }
  .planet {
    width: 100%;
    margin: 0;
    transition: all 1s linear;
    transform: rotate(0deg);
  }
  /* .planet > li {
    same
  } */
  .planet img {
    transform: rotate(0deg);
  }
  .planet .center {
    width: 18%;
    height: 5%;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
  .center .blackHole {
    position: static;
    width: 20vw;
    top: -220%;
    left: 0%;
    z-index: 10;
  }
  /* @keyframes blackHole {
    same
  } */

  .planet .jupiterOrbit {
    border-top-style: none;
    width: 40%;
    height: 2%;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
  }
  .planet .jupiterFront {
    display: none;
  }
  .jupiter {
    width: 40px;
    top: -60%;
    left: 0%;
    animation-name: jupiter2dsmall;
  }

  ul .moonOrbit {
    border-top-style: none;
    border-bottom: 1px dotted var(--grey-light-color);
    width: 60%;
    height: 2%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  .planet .moonFront {
    display: none;
  }
  .moon {
    width: 60px;
    top: -150%;
    left: -5%;
    z-index: 22;
    animation-name: moonStop;
  }

  ul .saturnOrbit {
    border-top-style: none;
    border-bottom: 1px dotted var(--grey-light-color);
    width: 80%;
    height: 2%;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
  }
  .planet .saturnFront {
    display: none;
  }
  .saturn {
    width: 120px;
    top: -150%;
    left: 50%;
    animation-name: saturnStop;
  }

  ul .marsOrbit {
    border-top-style: none;
    border-bottom: 1px dotted var(--grey-light-color);
    width: 100%;
    height: 2%;
    top: 54%;
    left: 50%;
    transform: translateX(-50%);
  }
  .marsGroup {
    width: 20%;
    height: 30%;
    position: relative;
    top: -270%;
    left: 80%;
    animation-name: marsStop;
  }
  .mars {
    width: 80px;
    top: 40%;
    left: 0%;
  }
  .marsGroup:before {
    content: "";
    width: 80%;
    height: 15%;
    border: 1px dotted var(--grey-light-color);
    border-top-style: none;
    border-radius: 50%;
    transform: rotate(0deg);
    position: absolute;
    top: 1000%;
    left: -15%;
    z-index: 27;
  }
  .marsGroup:after {
    display: none;
  }
  .satlitte {
    width: 20px;
    top: 775%;
    left: -20%;
    z-index: 30;
    animation-name: satlitte2dsmall;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes satlitte2dsmall {
    0% {
      left: -20%;
      z-index: 30;
    }
    50% {
      left: 60%;
      z-index: 30;
    }
    60% {
      left: 59%;
      z-index: 10;
    }
    90% {
      left: -19%;
    }
    100% {
      left: -20%;
    }
  }
}
/* min-width: 667px and max-width: 767px */
/* min-width: 667px and max-width: 767px */
/* min-width: 667px and max-width: 767px */
/* min-width: 667px and max-width: 767px */
